.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.app__videos {
  position: relative;
  height: 90vh;

  width: 70%;
  border-radius: 20px;
  max-width: 450px;
  max-height: 1200px;
  overflow: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.app__videos {
  transform: translate3d(0, 0, 0);
}
.app__videos {
  will-change: transform;
}

/*hide scrollbar from chrom safari adn opera*/
.app__videos::-webkit-scrollbar {
  display: none;
}
/*hide scrollbar from ie edge */
.app__videos {
  -ms-overflow-style: none;
}
